@font-face {
    font-family: 'Cinzel-Regular';
    src:url('../Fonts/Cinzel-Regular.ttf.woff') format('woff'),
        url('../Fonts/Cinzel-Regular.ttf.svg#Cinzel-Regular') format('svg'),
        url('../Fonts/Cinzel-Regular.ttf.eot'),
        url('../Fonts/Cinzel-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
body {
      font-family: 	 sans-serif;
}
h1 {
    font-family: 	'Cinzel-Regular', serif;
    text-align:  	center;
    font-size:   	3em;
    letter-spacing: 	0.1em;
}
h1 span {
    font-size: 1.2em;
}
    h1 a, h1 a:visited {
      color: #677179;
      text-decoration: none;
    }
    h1 a:hover {
      color: black;
      text-decoration: none;
    }
    a, a:visited {
      color: blue;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }

#social-link {
    text-align: center;
    margin: 4em 0 0 0;
}
#social-link img {
    width:80px; /* Max 120px  */
}
#social-link a {
    margin: 0 0.7em;
    opacity: 0.8;
}
#social-link a:hover {
    opacity: 1;
}
.block {
    text-align: center;
}